*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-page{
	background: linear-gradient(-45deg, #d16240, #802391, #154682, #4abeec);
	background-size: 300% 300%; 
	animation: gradient 10s ease infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#container-infos{
    background-color: rgb(245, 245, 245, 0.5);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#panier{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 100px;
    width: 55px;
    height: 55px;
}

#panier:hover a{
    font-size: 2rem;
}

#panier a{
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

#panier #nb-produits{
    color: red;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50px;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

#container-products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 92vh;
    padding-top: 50px;
}

.container-product{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container-product a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 5px black;
}

