#succes {
    background-color: rgb(21, 176, 21, 0.5);
    color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produit-sup {
    background-color: red;
    color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#panier-sup {
    background-color: rgb(120, 27, 27);
    color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produit-qtt{
    z-index: 54;
    background-color: purple;
    color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produit-qtt-moins{
    z-index: 54;
    background-color: rgb(149, 87, 149);
    color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}